<section class="episodes">
  <div class="text-center">
    <h2 class="mat-h2">
      {{tvShow.name ? tvShow.name : 'N/A' }}
      {{(tvShow.name && (tvShow.original_name !== tvShow.name)) ? '(' + tvShow.original_name + ')' : ''}}
      <br/>
      {{tvShow.original_language ? tvShow.original_language.toUpperCase() : ''}}
    </h2>

    <h3 class="mat-h3">
      {{tvShowEpisodes.name ? tvShowEpisodes.name : ''}}
      ({{tvShowEpisodes.episodes.length}}
      {{getGlobal() ? 'episode' : 'epizód'}})
    </h3>

    <h4 class="mat-h4">
      {{tvShow.status ? tvShow.status : ''}}
    </h4>


    <p class="mat-body-1 season-overview">
      {{getGlobal() ? 'Overview:' : 'Tartalom:'}}
      {{tvShowEpisodes.overview ? tvShowEpisodes.overview : 'N/A'}}
    </p>

    <button *ngFor="let link of tvShow.seasons; let i = index" mat-raised-button
            [routerLink]="['/tv-show-episodes', id, link.season_number]"
            routerLinkActive="active">
      {{link.name ? link.name : i + '/' + tvShow.seasons.length}}
    </button>
  </div>

  <mf-tv-show-season-videos [id]="id" [season]="season"></mf-tv-show-season-videos>

  <h3 class="text-center mat-h3">
    {{getGlobal() ? 'Episodes' : 'Epizódok:'}}
  </h3>

  <mat-accordion>

    <mat-expansion-panel
                         [expanded]="episodeNumber === i"
                         (opened)="setEpisode(i)"
                         hideToggle="true"
                         *ngFor="let episode of tvShowEpisodes.episodes; let i = index">

      <mat-expansion-panel-header class="mat-elevation-z2 title">
        <mat-panel-title>
          {{episode.episode_number ? episode.episode_number : 1+i }}.
          {{episode.name ? episode.name : 'N/A'}}
          {{episode.vote_average ? '('+(episode.vote_average | number:'1.1-1' )+'/10)': ''}}
        </mat-panel-title>
        <mat-panel-description class="title-desc">
          {{episode.air_date ? episode.air_date : '' }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <img
        class="picture"
        title="{{tvShow.name}} - {{episode.name}}"
        alt="{{tvShow.name}} - {{episode.name}}"
        [lazyLoad]="episode.still_path ? 'https://image.tmdb.org/t/p/' + 'w300' + episode.still_path : 'assets/image/no-pic.jpg'"/>

      <div class="episode-body">
        <h4 class="mat-h4">
          {{episode.name ? episode.name : 'N/A'}}
          {{episode.vote_average ? '('+ (episode.vote_average | number:'1.1-1' ) +'/10)':'(N/A)'}}
        </h4>
        <p class="mat-body-1">
          {{getGlobal() ? 'Overview:' : 'Tartalom:'}}
          {{episode.overview ? episode.overview : 'N/A'}}
        </p>
      </div>
      <mat-action-row class="buttons">
        <button mat-button color="primary"
                (click)="setEpisode(i-1)" *ngIf="i>0">
          {{getGlobal() ? 'Previous' : 'Előző'}}
        </button>
        <button mat-button color="primary"
                (click)="setEpisode(i+1)" *ngIf="i < tvShowEpisodes.episodes.length-1">
          {{getGlobal() ? 'Next' : 'Következő'}}
        </button>
      </mat-action-row>

    </mat-expansion-panel>

  </mat-accordion>

</section>
