<section class="episodes">
  <div class="text-center">
    <mf-loading
      class="centerHorizontalVertical"
      *ngIf="!tvShow.name"
    ></mf-loading>

    <h2 class="mat-h2" *ngIf="tvShow.name">
      {{ tvShow.name }}
    </h2>

    <h4
      class="mat-h4"
      *ngIf="tvShow.name && tvShow.original_name !== tvShow.name"
    >
      <em>
        {{ tvShow.original_name }}
        {{
          tvShow.original_language ? ' (' + tvShow.original_language + ')' : ''
        }}
      </em>
    </h4>

    <h4 class="mat-h4" *ngIf="tvShowEpisodes.name">
      {{ tvShowEpisodes.name }}
      ({{ tvShowEpisodes.episodes.length }} {{ episodeText }})
      {{ tvShow.status ? ' - ' + tvShow.status : '' }}
    </h4>

    <p class="mat-body-1 season-overview" *ngIf="tvShowEpisodes.overview">
      {{ tvShowEpisodes.overview }}
    </p>

    <div *ngIf="tvShow.seasons && tvShow.seasons.length > 1" class="seasons">
      <button
        *ngFor="let link of tvShow.seasons; let i = index"
        mat-raised-button
        [routerLink]="['/tv-show-episodes', id, link.season_number]"
        routerLinkActive="active"
      >
        {{ link.name ? link.name : i + '/' + tvShow.seasons.length }}
      </button>
    </div>
  </div>

  <mf-tv-show-season-videos
    [id]="id"
    [season]="season"
  ></mf-tv-show-season-videos>

  <h3
    class="text-center mat-h3"
    *ngIf="
      tvShowEpisodes &&
      tvShowEpisodes.episodes &&
      tvShowEpisodes.episodes.length
    "
  >
    {{ episodesText }}
  </h3>

  <mat-accordion
    *ngIf="
      tvShowEpisodes &&
      tvShowEpisodes.episodes &&
      tvShowEpisodes.episodes.length
    "
  >
    <mat-expansion-panel
      [expanded]="episodeNumber === i"
      (opened)="setEpisode(i)"
      hideToggle="true"
      *ngFor="let episode of tvShowEpisodes.episodes; let i = index"
    >
      <mat-expansion-panel-header class="mat-elevation-z2 title">
        <mat-panel-title>
          [{{ episode.episode_number ? episode.episode_number : 1 + i }}]
          {{ episode.name ? episode.name : language.na }}
          {{
            episode.vote_average
              ? '(' + (episode.vote_average | number: '1.1-1') + '/10)'
              : ''
          }}
        </mat-panel-title>
        <mat-panel-description class="title-desc" *ngIf="episode.air_date">
          {{ episode.air_date }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <img
        *ngIf="episode.still_path"
        class="picture"
        title="{{ tvShow.name }} -
      {{ episode.name }}"
        alt="{{ tvShow.name }} - {{ episode.name }}"
        [lazyLoad]="'https://image.tmdb.org/t/p/w500' + episode.still_path"
        [defaultImage]="'assets/image/1x1.png'"
        [errorImage]="'assets/image/error-image-generic.png'"
        offset="100"
      />

      <img
        *ngIf="!episode.still_path"
        class="picture"
        title="{{ tvShow.name }} - {{ episode.name }}"
        alt="{{ tvShow.name }} - {{ episode.name }}"
        [lazyLoad]="'assets/image/no-pic.jpg'"
        [defaultImage]="'assets/image/1x1.png'"
        [errorImage]="'assets/image/error-image-generic.png'"
        offset="100"
      />

      <div class="episode-body">
        <h4 class="mat-h4" *ngIf="episode.name">
          {{ episode.name }}
        </h4>
        <p class="mat-body-1" *ngIf="episode.overview">
          {{ episode.overview }}
        </p>
      </div>
      <mat-action-row class="buttons">
        <button
          mat-button
          color="primary"
          (click)="setEpisode(i - 1)"
          *ngIf="i > 0"
        >
          {{ previousText }}
        </button>
        <button
          mat-button
          color="primary"
          (click)="setEpisode(i + 1)"
          *ngIf="i < tvShowEpisodes.episodes.length - 1"
        >
          {{ nextText }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <br />

  <div *ngIf="tvShow.seasons && tvShow.seasons.length > 1" class="text-center">
    <button
      *ngFor="let link of tvShow.seasons; let i = index"
      mat-raised-button
      [routerLink]="['/tv-show-episodes', id, link.season_number]"
      routerLinkActive="active"
    >
      {{ link.name ? link.name : i + '/' + tvShow.seasons.length }}
    </button>
  </div>

  <br />

  <div class="text-center">
    <button mat-raised-button [routerLink]="['/tv-details', id]">
      {{ backToDetails }}
    </button>
  </div>
</section>
