@import './../../../../colors.scss';

.episodes {
  max-width: 60em;
  margin: 0 auto;

  .picture {
    width: 100%;
    max-width: 500px;
    height: auto;
    float: left;
    margin: 0 1em 1em 0;

    @media (max-width: 600px) {
      margin: 1em auto;
      padding-left: calc(50% - 150px);
      float: none;
    }
  }

  .season-overview {
    text-align: justify;
    line-height: 120%;
    font-size: 90%;
  }

  .episode-body {
    text-align: justify;
    line-height: 120%;
    font-size: 120%;
  }

  .buttons {
    clear: both;
  }

  .title-desc {
    flex-grow: 0;
  }

  .title {
    @media (max-width: 960px) {
      height: auto !important;
      padding: 0.6em 1em;
    }
  }

  button {
    transition: 0.3s ease-in-out background-color;
    background-color: $fallback-bg-color;
    margin: 0.2em;

    &.active,
    &:hover {
      background-color: $main-bg-color;
    }
  }
}

/deep/ div.mat-expansion-panel-body {
  padding: 16px 24px;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
