<a href="" name="tvShow" id="tvShow"></a>

<h2 class="text-center">
  {{getGlobal() ? 'Tv shows':'Sorozatok:'}}
</h2>

<h3 class="text-center huge-margin" *ngIf="isLoading">
  {{getGlobal() ? 'Loading...':'Betöltés...'}}
</h3>

<div class="item-container" #container *ngIf="!(isLoading)">
  <a *ngFor="let tvShow of popularTvShows.results" [routerLink]="['/tv-details', tvShow.id]">
    <mf-list-item [tvShow]="tvShow" movie="" person=""></mf-list-item>
  </a>
</div>

<h2 class="text-center" *ngIf="popularTvShows.results.length < 1">
  {{getGlobal() ? 'No results':'Nincs találat'}}
</h2>

<mf-pagination [results]="popularTvShows" [url]="'/discover/'" [type]="'tvShow'"></mf-pagination>
