<h2 class="text-center mat-h2">
  {{ trendingText }}
</h2>

<mf-loading *ngIf="isLoading"></mf-loading>

<div class="item-container" #container *ngIf="!isLoading">
  <a
    *ngFor="let movie of trendingMovies.results"
    [routerLink]="['/details', movie.id]"
  >
    <mf-list-item [movie]="movie" person="" tvShow=""></mf-list-item>
  </a>
</div>

<h2 class="text-center mat-h2" *ngIf="trendingMovies.results.length < 1">
  {{ noResultText }}
</h2>

<mf-pagination [results]="trendingMovies" [url]="'/trending/'"></mf-pagination>
