<mat-card class="footer text-right mat-elevation-z2">
  <mat-slide-toggle
    class="toggle"
    (change)="api.changeGlobal()"
    [checked]="api.getGlobal()"
  >
    {{ global }}
  </mat-slide-toggle>

  <mat-slide-toggle
    class="toggle"
    (change)="api.setAdult()"
    [checked]="api.getAdult()"
  >
    {{ adult }}
  </mat-slide-toggle>

  <p class="mat-body-1">
    <mat-icon class="icon">
      movie
    </mat-icon>
    {{ movieFinder }}, {{ date | date: 'yyyy.MM.dd.' }}
    <button mat-mini-fab color="primary" class="toTop">
      <mat-icon (click)="scroll.toTop()">keyboard_arrow_up</mat-icon>
    </button>
  </p>
</mat-card>
