<div
  class="youtubeVideos text-center"
  *ngIf="videos && videos.results && videos.results.length > 0"
>
  <h2 class="mat-h2">
    {{ recommendedVideosText }}
  </h2>

  <div class="maximized-height">
    <mat-chip-list>
      <mat-chip
        color="primary"
        [selected]="getSelectedVideo(i)"
        (click)="setVideoUrl(video.key)"
        *ngFor="let video of videos.results; let i = index"
      >
        <p class="mat-body-1 text-center full-wide-width">
          {{ video.name ? video.name : i + 1 + '. ' + videoText }}
          {{
            video.iso_639_1
              ? '[' + video.iso_639_1.toLocaleUpperCase() + ']'
              : ''
          }}
        </p>
      </mat-chip>
    </mat-chip-list>
  </div>

  <br />

  <iframe
    *ngIf="videoSrc"
    class="video"
    [src]="videoSrc"
    [title]="videoSrc"
    border="0"
    allowfullscreen
  ></iframe>
</div>
