<a href="" name="person" id="person"></a>

<h2 class="text-center">
  {{getGlobal() ? 'Persons:':'Emberek:'}}
</h2>

<div class="item-container" #container>
  <a *ngFor="let person of topRatedPersons.results" [routerLink]="['/person-details', person.id]">
    <mf-list-item movie="" tvShows="" [person]="person" ></mf-list-item>
  </a>
</div>

<h2 class="text-center" *ngIf="topRatedPersons.results.length < 1">
  {{getGlobal() ? 'No results':'Nincs találat'}}
</h2>

<mf-pagination [results]="topRatedPersons" [url]="'/top-rated/'" [type]="'person'"></mf-pagination>
