<div *ngIf="movieCredits.cast.length > 0">
  <h3 class="text-center">
    {{ getGlobal() ? 'Cast' : 'Szereplők' }}
  </h3>

  <mat-form-field class="full-width">
    <input matInput type="search"
           [placeholder]="placeholder"
           name="searchCast"
           id="searchCast"
           [(ngModel)]="searchCast"/>
  </mat-form-field>

  <div class="container">
    <a *ngFor="let person of movieCredits.cast | search:searchCast " [routerLink]="['/person-details', person.id]">
      <div class="cast" lazy-load-images>
        <mf-loading *ngIf="person.profile_path && isLoading"></mf-loading>
        <img *ngIf="person.profile_path && !isLoading"
             [attr.data-src]="'https://image.tmdb.org/t/p/' + 'w45' +person.profile_path"
             [alt]="person.name" [title]="person.name"/>
        <mat-icon *ngIf="!(person.profile_path) && !isLoading" class="bigger">face</mat-icon>
        <span class="right">
          {{person.name ? person.name : 'N/A'}}
          {{ getGlobal() ? ' as ' : ' szerepe: ' }}
          {{person.character ? person.character : 'N/A'}}
        </span>
      </div>
    </a>
  </div>
</div>

<div *ngIf="movieCredits.crew.length > 0">
  <br>
  <mat-divider></mat-divider>
  <br>
  <h3 class="text-center">
    {{ getGlobal() ? 'Crew' : 'Stáb' }}
  </h3>

  <mat-form-field class="full-width">
    <input matInput type="search" [placeholder]="placeholder" name="searchCrew" id="searchCrew"
           [(ngModel)]="searchCrew"/>
  </mat-form-field>

  <div class="container">
    <a *ngFor="let person of movieCredits.crew | search:searchCrew " [routerLink]="['/person-details', person.id]">
      <div class="crew">
        <span class="pull-left">
          {{person.job ? person.job : 'N/A'}}
        </span>
        <span>
          {{person.name ? person.name : 'N/A'}}
        </span>
      </div>
    </a>
  </div>
</div>

<br>

<mat-divider></mat-divider>

<br>
