.item-container {
  justify-content: normal;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  max-width: 95%;
  overflow-x: scroll;
  margin-bottom: 2em;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
