<mat-card class='footer text-right mat-elevation-z2'>

  <mat-slide-toggle class="toggle" (change)="setGlobal()" [checked]="getGlobal()">
    Global
  </mat-slide-toggle>

  <mat-form-field class="select">
    <mat-select [(value)]="selected" (change)="setSortByOption($event)">
      <mat-option *ngFor="let option of sortByOptions" [value]="option.value">
        {{ option.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle class="toggle" (change)="setAdult()" [checked]="getAdult()">
    Felnőtteknek
  </mat-slide-toggle>


  <p>
    <mat-icon class="icon">
      movie
    </mat-icon>
    Movie Finder, {{ date | date:'yyyy.MM.dd.' }}
  </p>
</mat-card>
