@import './../../../../colors.scss';

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.upper {
  z-index: -1;
}

.pictures {
  text-align: center;
}

.link {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;

  @media (max-width: 960px) {
    display: inline-block;
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
}

.content {
  width: calc(30vw - 2em);
  padding: 1em;
  text-align: justify;

  .center {
    text-align: center;
  }

  @media (max-width: 960px) {
    width: calc(100% - 2em);
    text-align: center;
  }
}

.pic-container {
  min-height: 40vw;
  min-width: 40vw;
  position: relative;

  .pic {
    height: auto;
    max-width: 70vw;
    max-height: 75vh;
  }
}
