<h2 class="text-center mat-h2" *ngIf="images && images.length > 0">
  {{getGlobal() ? 'Tagged Images from acts' : 'Képek a szerepléseiről, filmjeiről, stb '}}
</h2>

<mat-tab-group class="pictures" *ngIf="images && images.length > 0">

  <mat-tab *ngFor="let image of images; let i=index"
           [label]="(i+1)+'/'+ images.length + '. ' +
  ( (image.media.name ? image.media.name : '') + (image.media.title ? image.media.title : '') ).toString()">
    <div class="img-container" lazy-load-images>
      <mf-loading class="centerHorizontalVertical upper"></mf-loading>
      <img class="pic"
      [lazyLoad]="image.file_path ? 'https://image.tmdb.org/t/p/'+'w1280' + image.file_path : ''"
           alt="{{image.media.name || image.media.title}}" title="{{image.media.name || image.media.title}}"/>
      <a [routerLink]="[ image.media_type === 'movie' ? '/details' : '/tv-details', image.media.id ]" class="overview">
        <div>
          <strong>
            <p class="mat-body-1">
              {{ image.media.name ? image.media.name : ''}}
              {{ image.media.title ? image.media.title : ''}}
              {{ image.vote_average ? '('+ (image.vote_average | number: '1.1-1') +')':'' }}
            </p>
            <p class="mat-body-1">
              {{ image.media.original_name && image.media.original_name !== image.media.name ? '('+
              image.media.original_name +')' : '' }}
              {{ image.media.original_title && image.media.original_title !== image.media.title ? '('+
              image.media.original_title +')' : '' }}
            </p>
          </strong>
          <p class="mat-body-1">
            {{ image.media.release_date ? image.media.release_date : '' }}
            {{ image.media.first_air_date ? image.media.first_air_date : '' }}
          </p>
          <p class="text-justify mat-body-1">
            {{ image.media.overview }}
          </p>
        </div>
      </a>

    </div>
  </mat-tab>

</mat-tab-group>
