@import "./../../../../colors.scss";
.pictures {
  text-align: center;
}

.pic {
  max-width: 80vw;
  max-height: 75vh;
  padding: 1em 0 0 0;
}

.upper {
  top: 25%;
}

.img-container {
  position: relative;
  text-align: left;
  min-height: 30vh;

  @media (max-width: 960px) {
    text-align: center;
  }

  img {
    z-index: 1000;
    position: relative;
  }

  .overview {
    text-align: center;
    float: left;
    width: 30%;
    padding: 1em;
    line-height: 110%;
    font-size: 110%;
    transition: .3s ease-in-out background-color;
    min-height: 75vh;

    &:hover {
      background-color: $main-color;
    }

    @media (max-width: 960px) {
      float: none;
      min-height: none;
      width: 90%;
      margin: 0 auto;
    }
  }
}
