mat-nav-list {
  display: flex;
}

.mat-list-item,
.mat-nav-list,
h1 {
  flex-grow: 1;
  text-align: center;
}

.header {
  background-color: #C5CAE9;
  display: block;
}

.mobil-header {
  display: none;
  background-color: #C5CAE9;

  a {
    color: inherit;
    text-decoration: none;
  }

  .mobile-menu {
    position: absolute;
    top: 2em;
    right: 2em;
  }
}
@media (max-width:960px) {
  .header {
    display: none;
  }

  .mobil-header {
    display: block;
  }
}
