.item-container {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.result-links {
  padding: .3em;
  border: 1px solid gray;
  transition: .3s ease-in-out background-color;
  color: inherit;
  text-decoration: none;
  margin: 2px;
  &:hover {
    background-color: lightgray;
  }
}

.active {
  background-color:lightgray;
}
