<p class="text-center" *ngIf="pagination.total_results>0">
  <span>
    <strong>{{pagination.total_results}}</strong> {{getGlobal() ? 'results':'találat'}},
    <strong>{{pagination.total_pages}}</strong> {{getGlobal() ? 'pages':'oldalon'}}
  </span>
  <span *ngFor="let page of pagination.links">
    <a
      [routerLink]="page.url"
      fragment="{{type}}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
      class="result-links mat-elevation-z2">
      {{page.name}}
    </a>
  </span>
</p>
