.container {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .mat-form-field {
    margin: 1em;
  }

}

.mGenre {
  max-width: 70%;

  .mGenres {
    margin: .3em .75em;
    min-width: 8em;
  }
}
