<mat-tab-group
  mat-align-tabs="center"
  *ngIf="tvShow && tvShow.seasons && tvShow.seasons.length"
>
  <mat-tab
    *ngFor="let season of tvShow.seasons; let i = index"
    [label]="season.name || season.season_number || i"
  >
    <img
      *ngIf="season.poster_path"
      class="poster"
      [lazyLoad]="'https://image.tmdb.org/t/p/w342' + season.poster_path"
      [defaultImage]="'assets/image/1x1.png'"
      [errorImage]="'assets/image/error-image-generic.png'"
      offset="100"
      [alt]="season.name"
      [title]="season.name"
    />

    <img
      *ngIf="!season.poster_path"
      class="poster"
      [lazyLoad]="'assets/image/no-pic.jpg'"
      [defaultImage]="'assets/image/1x1.png'"
      [errorImage]="'assets/image/error-image-generic.png'"
      offset="100"
      alt=""
    />

    <h4 class="mat-h4">
      {{ seasonName }}:
      {{ season.name ? season.name : 'N/A' }}
    </h4>
    <p class="mat-body-1">
      {{ seasonAirDate }}:
      {{ season.air_date ? season.air_date : 'N/A' }}
    </p>
    <p class="mat-body-1">
      {{ seasonEpisodeCount }}:
      {{ season.episode_count ? season.episode_count : 'N/A' }}
    </p>
    <p class="mat-body-1" *ngIf="season.overview">
      {{ seasonOverview }}
      {{ season.overview ? season.overview : 'N/A' }}
    </p>
    <button
      mat-raised-button
      color="primary"
      class="mat-elevation-z2"
      [routerLink]="['/tv-show-episodes', tvShow.id, season.season_number]"
    >
      {{ episodesOverview }}
    </button>
  </mat-tab>
</mat-tab-group>
