.pictures {
  text-align: center;
}

.pic {
  max-width: 90vw;
  max-height: 75vh;
  padding: 1em 0;
}

.img-container {
  position: relative;
  min-height: 36vh;
  @media (min-width: 960px) {
    min-height: 85vh;
  }

  img {
    z-index: 1000;
    position: relative;
  }
}
