<div *ngIf="movieCredits && movieCredits.cast && movieCredits.cast.length > 0">
  <h3 class="text-center mat-h3">
    {{ cast }}
  </h3>

  <mat-form-field class="full-width">
    <input
      matInput
      type="search"
      [placeholder]="placeholder"
      name="searchCast"
      id="searchCast"
      [(ngModel)]="searchCast"
    />
  </mat-form-field>

  <div class="container cast">
    <a
      *ngFor="let person of movieCredits.cast | search: searchCast"
      [routerLink]="['/person-details', person.id]"
    >
      <div class="cast">
        <img
          *ngIf="person.profile_path"
          [lazyLoad]="'https://image.tmdb.org/t/p/w45' + person.profile_path"
          offset="100"
          [defaultImage]="'assets/image/1x1.png'"
          [errorImage]="'assets/image/error-image-generic.png'"
          [alt]="person.name"
          [title]="person.name"
        />

        <mat-icon *ngIf="!person.profile_path" class="bigger">face</mat-icon>
        <span class="right">
          {{ person.name ? person.name : language.na }}, {{ actAs }}:
          {{ person.character ? person.character : language.na }}
        </span>
      </div>
    </a>
  </div>
</div>

<div *ngIf="movieCredits && movieCredits.cast && movieCredits.crew.length > 0">
  <br />
  <mat-divider></mat-divider>
  <br />
  <h3 class="text-center mat-h3">
    {{ crew }}
  </h3>

  <mat-form-field class="full-width">
    <input
      matInput
      type="search"
      [placeholder]="placeholder"
      name="searchCrew"
      id="searchCrew"
      [(ngModel)]="searchCrew"
    />
  </mat-form-field>

  <div class="container crew">
    <a
      *ngFor="let person of movieCredits.crew | search: searchCrew"
      [routerLink]="['/person-details', person.id]"
    >
      <div class="crew">
        <span class="pull-left">
          {{ person.job ? person.job : language.na }}
        </span>
        <span>
          {{ person.name ? person.name : language.na }}
        </span>
      </div>
    </a>
  </div>
</div>

<br />

<mat-divider></mat-divider>

<br />
