<section class="full" [style.backgroundImage]="backgroundImage()">
  <mat-card class="poster">
    <mat-card-content (dblclick)="open()">
      <div class="img-container" lazy-load-images>
        <mf-loading class="centerHorizontalVertical"></mf-loading>
        <img [attr.data-src]="movie.poster_path ? 'https://image.tmdb.org/t/p' + '/w500' + movie.poster_path :
             'assets/image/no-pic.jpg'" [alt]="movie.title" [title]="movie.title"/>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="details">
    <mat-card-content>

      <h2 class="title">
        {{movie.title ? movie.title : 'N/A'}}
      </h2>

      <h3 class="original_title">
        {{movie.original_title && movie.title !== movie.original_title ? movie.original_title : ''}}
        <span class="original_language">
          {{movie.original_language ? '('+movie.original_language.toUpperCase()+')' : ''}}
        </span>
      </h3>

      <p class="overview">
        {{movie.overview ? movie.overview : 'N/A'}}
      </p>

      <p class="text-right">
        <mf-movie-keywords [id]="movie.id"></mf-movie-keywords>
      </p>

      <p class="genres">
        <span>
          {{ getGlobal() ? 'Genres:' : 'Műfajok:' }}
        </span>
        <span>
          {{ movie.genres ? listGenres(movie.genres) : 'N/A'}}
        </span>
      </p>

      <p class="runtime">
        <span>
          {{ getGlobal() ? 'Runtime:' : 'Hossz:' }}
        </span>
        <span>
          {{ movie.runtime ? movie.runtime.toString() + (getGlobal() ? ' minutes' : ' perc').toString() : 'N/A'}}
        </span>
      </p>

      <p class="status">
        <span>
          {{ getGlobal() ? 'Status:' : 'Státusz:' }}
        </span>
        <span>
          {{movie.status ? movie.status : 'N/A' }}
        </span>
      </p>

      <p class="release_date">
        <span>
          {{ getGlobal() ? 'Release date:' : 'Premier dátuma:' }}
        </span>
        <span>
          {{ movie.release_date ? movie.release_date : 'N/A' }}
        </span>
      </p>

      <p class="budget">
        <span>
          {{ getGlobal() ? 'Budget:' : 'Elkészítési költség:' }}
        </span>
        <span>
          {{ movie.budget ? (movie.budget | currency) : 'N/A' }}
        </span>
      </p>

      <p class="budget">
        <span>
          {{ getGlobal() ? 'Revenue:' : 'Bevétel:' }}
        </span>
        <span>
          {{ movie.revenue ? (movie.revenue | currency) : 'N/A' }}
        </span>
      </p>

      <p class="vote">
        <span>
          {{ getGlobal() ? 'Vote:' : 'Nézők szavazata alapján:' }}
        </span>
        <span>
          {{ movie.vote_average ? (movie.vote_average | number:'1.1-1') + '/10' : 'N/A' }}
        </span>
      </p>

      <p class="popularity">
        <span>
          {{ getGlobal() ? 'Popularity:' : 'Relatív népszerűségi index:' }}
        </span>
        <span>
          {{ movie.popularity ? movie.popularity : 'N/A' }}
        </span>
      </p>

      <p class="homepage">
        <span>
          {{ movie.homepage ? 'Homepage:':''}}
        </span>
        <span *ngIf="movie.homepage">
          <a [href]="movie.homepage" target="_blank">
            {{ movie.homepage}}
          </a>
        </span>
      </p>

      <p class="imdb" *ngIf="movie.title || movie.original_title">
        <span>
          {{movie.imdb_id ? 'Imdb Homepage:':''}}
        </span>
        <span *ngIf="movie.imdb_id">
          <a [href]="'https://www.imdb.com/title/'+movie.imdb_id" target="_blank">
            {{'https://www.imdb.com/title/'+movie.imdb_id}}
          </a>
        </span>
      </p>

      <p class="youtube" *ngIf="movie.title || movie.original_title">
        <span>
          Youtube {{ getGlobal() ? 'search:' : 'keresés:' }}
        </span>
        <span>
          <a *ngIf="movie.title" [href]="'https://www.youtube.com/results?search_query='+movie.title" target="_blank">
            {{ getGlobal() ? 'by title' : 'magyar cím alapján' }}
          </a>
          <a *ngIf="movie.title !== movie.original_title">|</a>
          <a *ngIf="movie.original_title && movie.title !== movie.original_title"
             [href]="'https://www.youtube.com/results?search_query='+movie.original_title"
             target="_blank">
            {{ getGlobal() ? 'by original title' : 'eredeti cím alapján' }}
          </a>
        </span>
      </p>

      <p class="online-filmek" *ngIf="movie.title || movie.original_title">
        <span>
          Online Film {{ getGlobal() ? 'search:' : 'keresés:' }}
        </span>
        <span>
          <a *ngIf="movie.title" [href]="'https://online-filmek.me/kereses.php?kereses='+movie.title" target="_blank">
            {{ getGlobal() ? 'by title' : 'magyar cím alapján' }}
          </a>
          <a *ngIf="movie.title !== movie.original_title">|</a>
          <a *ngIf="movie.original_title && movie.title !== movie.original_title"
             [href]="'https://online-filmek.me/kereses.php?kereses='+movie.original_title"
             target="_blank">
            {{ getGlobal() ? 'by original title' : 'eredeti cím alapján' }}
          </a>
        </span>
      </p>

      <p class="google" *ngIf="movie.title || movie.original_title">
        <span>
          Google {{ getGlobal() ? 'search:' : 'keresés:' }}
        </span>
        <span>
          <a *ngIf="movie.title" [href]="'https://www.google.hu/search?q='+movie.title" target="_blank">
            {{ getGlobal() ? 'by title' : 'magyar cím alapján' }}
          </a>
          <span *ngIf="movie.title !== movie.original_title">|</span>
          <a *ngIf="movie.original_title && movie.title !== movie.original_title"
             [href]="'https://www.google.hu/search?q='+movie.original_title"
             target="_blank">
            {{ getGlobal() ? 'by original title' : 'eredeti cím alapján' }}
          </a>
        </span>
      </p>

      <p class="google" *ngIf="movie.title || movie.original_title">
        <span>
          Netflix {{ getGlobal() ? 'search:' : 'keresés:' }}
        </span>
        <span>
          <a *ngIf="movie.title" [href]="'https://www.netflix.com/search?q='+movie.title" target="_blank">
            {{ getGlobal() ? 'by title' : 'magyar cím alapján' }}
          </a>
          <span *ngIf="movie.title !== movie.original_title">|</span>
          <a *ngIf="movie.original_title && movie.title !== movie.original_title"
             [href]="'https://www.netflix.com/search?q='+movie.original_title"
             target="_blank">
            {{ getGlobal() ? 'by original title' : 'eredeti cím alapján' }}
          </a>
        </span>
      </p>

    </mat-card-content>
  </mat-card>
</section>
