<section class="full" [style.backgroundImage]="backgroundImage()">
  <mat-card class="poster">
    <mat-card-content (dblclick)="open()">
      <div class="img-container">
        <mf-loading class="centerHorizontalVertical"></mf-loading>
        <img
          *ngIf="movie.poster_path"
          [lazyLoad]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          [defaultImage]="'assets/image/1x1.png'"
          [alt]="movie.title"
          [title]="movie.title"
        />
        <img
          *ngIf="!movie.poster_path"
          [lazyLoad]="'assets/image/no-pic.jpg'"
          [defaultImage]="'assets/image/1x1.png'"
          [alt]="movie.title"
          [title]="movie.title"
        />
        <mat-progress-spinner
          class="circle"
          color="primary"
          mode="determinate"
          diameter="95"
          *ngIf="movie.vote_average && movie.vote_average !== 10"
          [value]="movie.vote_average * 10"
        >
        </mat-progress-spinner>
        <mat-chip
          color="primary"
          [selected]="true"
          disabled
          class="vote force-not-transparent"
          *ngIf="movie.vote_average && movie.vote_average !== 10"
        >
          {{ (movie.vote_average | number: '1.1-1') + '/10' }}
        </mat-chip>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="details">
    <mat-card-content>
      <mf-loading
        class="centerHorizontalVertical"
        *ngIf="!movie.title"
      ></mf-loading>

      <h2 class="mat-h2 title" *ngIf="movie.title">
        {{ movie.title }}
      </h2>

      <h3
        class="mat-h3 original_title"
        *ngIf="movie.original_title && movie.title !== movie.original_title"
      >
        <em>{{ movie.original_title }}</em>
      </h3>

      <h4 class="mat-h4 tagline" *ngIf="movie.tagline">
        {{ movie.tagline }}
      </h4>

      <p class="mat-body-1 overview" *ngIf="movie.overview">
        {{ movie.overview }}
      </p>

      <p class="mat-body-1 text-right">
        <mf-movie-keywords [id]="movie.id"></mf-movie-keywords>
      </p>

      <mf-movie-collection
        *ngIf="movie.belongs_to_collection && movie.belongs_to_collection.id"
        [id]="movie.belongs_to_collection.id"
      ></mf-movie-collection>

      <p class="mat-body-1 genres" *ngIf="movie.genres">
        <span> {{ genres }}: </span>
        <span>
          {{ listGenres(movie.genres) }}
        </span>
      </p>

      <p class="original-language" *ngIf="movie.original_language">
        <span> {{ originalLanguage }}: </span>
        <span>
          {{ movie.original_language.toLocaleUpperCase() }}
        </span>
      </p>

      <p class="mat-body-1 runtime" *ngIf="movie.runtime">
        <span> {{ runtime }}: </span>
        <span>
          {{ movie.runtime.toString() + ' ' + minutes }}
        </span>
      </p>

      <p class="mat-body-1 status" *ngIf="movie.status">
        <span> {{ status }}: </span>
        <span>
          {{ movie.status }}
        </span>
      </p>

      <p class="mat-body-1 release_date" *ngIf="movie.release_date">
        <span> {{ releaseDate }}: </span>
        <span>
          {{ movie.release_date }}
        </span>
      </p>

      <p class="mat-body-1 budget" *ngIf="movie.budget">
        <span> {{ budget }}: </span>
        <span>
          {{ movie.budget | currency: undefined:undefined:'4.0-0' }}
        </span>
      </p>

      <p class="mat-body-1 budget" *ngIf="movie.revenue">
        <span> {{ revenue }}: </span>
        <span>
          {{ movie.revenue | currency: undefined:undefined:'4.0-0' }}
        </span>
      </p>

      <p
        class="mat-body-1 vote"
        *ngIf="movie.vote_average && movie.vote_average < 10"
      >
        <span> {{ vote }}: </span>
        <span>
          {{ (movie.vote_average | number: '1.1-1') + '/10' }}
        </span>
      </p>

      <p class="mat-body-1 popularity" *ngIf="movie.popularity">
        <span> {{ popularity }}: </span>
        <span> {{ movie.popularity / 10 | number: '1.1-1' }}% </span>
      </p>

      <br />

      <p class="mat-body-1 query" *ngIf="movie.homepage">
        <span> {{ homepage }}: </span>
        <span>
          <a [href]="movie.homepage" target="_blank">
            {{ movie.homepage }}
          </a>
        </span>
      </p>

      <p class="mat-body-1 query" *ngIf="movie.imdb_id">
        <span> Imdb {{ homepage }}: </span>
        <span>
          <a
            [href]="'https://www.imdb.com/title/' + movie.imdb_id"
            target="_blank"
          >
            {{ 'https://www.imdb.com/title/' + movie.imdb_id }}
          </a>
        </span>
      </p>

      <div *ngFor="let query of queries">
        <p class="mat-body-1 query" *ngIf="movie.title || movie.original_title">
          <span>{{ query.name }} {{ search }}: </span>
          <span>
            <a
              *ngIf="movie.title"
              [href]="query.url + movie.title"
              target="_blank"
            >
              {{ byTitle }}
            </a>
            <a *ngIf="movie.title !== movie.original_title">|</a>
            <a
              *ngIf="movie.title !== movie.original_title"
              [href]="query.url + movie.original_title"
              target="_blank"
            >
              {{ byOriginalTitle }}
            </a>
          </span>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</section>
