mat-card {
  vertical-align: top;
  margin: 20px 10px;
}

mat-card-content {
  width: 100%;
}

.full {
  background-position: center;
  background-size: cover;
}

.poster {
  display: inline-flex;
  width: 500px;
}

.details {
  display: inline-flex;
  width: calc(100% - 500px - 130px);
  background-color: rgba(232, 234, 246, 0.9);
  padding: 1em;
  min-height: 770px;
}

.homepage,
.imdb,
.original_title,
.title {
  text-align: right;
}

.google,
.homepage,
.imdb,
.online-filmek,
.youtube {

  font-weight: bold;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.homepage {
  padding-top: 3em;
}

.overview {
  line-height: 140%;
  font-size: 125%;
  text-align: justify;
  font-weight: bold;
}

h2 {
  padding-top: 2em;
}

h3 {
  padding-bottom: 2em;
}

p {
  clear: both;
  padding: .5em 0;

  span {
    float: left;

    &:nth-of-type(2) {
      float: right;
    }
  }
}

.img-container {
  position: relative;
  min-height: 400px;

  img {
    z-index: 1000;
    position: relative;
  }

  $margin: 5px;
  $move: -20px;
  $diameter: 95px;
  $vote-height: 32px;
  $vote-width: 65px;

  .circle {
    position: absolute;
    top: $margin + $move;
    right: $margin + $move;
    z-index: 100000;
    background-color: rgba(232, 234, 246, 0.9);
    box-shadow: 0 0 $margin / 1.75 $margin / 1.75 rgba(232,234,246,0.6);
    border-radius: 50%;
  }
  .vote {
    position: absolute;
    top: $diameter / 2  - $vote-height / 2  + $margin + $move;
    right: $diameter / 2 - $vote-width / 2 + $margin + $move;
    z-index: 200000;
  }
}

@media (max-width: 960px) {
  .full {
    background-image: none !important;
    margin: 0;
    padding: 0;
  }

  .poster {
    display: block;
    margin: auto;
    max-width: 500px;
    width: auto;

    img {
      width: 100%;
      margin: auto;
    }
  }

  .details {
    display: block;
    width: auto;
    max-width: 500px;
    margin: auto;
    min-height: none;

    h2,
    h3 {
      text-align: center;
    }

    p {
      text-align: left;

      span {
        float: none;
      }
    }

    .overview {
      text-align: justify;
      font-size: 100%;
    }
  }
}
