<section class="full" [style.backgroundImage]="backgroundImage()">
  <mat-card class="poster">
    <mat-card-content (dblclick)="open()">
      <div class="img-container">
        <div class="dots-loader">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p' + '/w500' + movie.poster_path :
             'assets/image/no-pic.jpg'" [alt]="movie.title" [title]="movie.title" *ngIf="!loading" />
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="details">
    <mat-card-content>

      <h2 class="title">
        {{movie.title ? movie.title : '(Hiányzó adat: cím)'}}
      </h2>

      <h3 class="original_title">
        {{movie.original_title ? 'Eredeti címe: '+ movie.original_title : ''}}
        <span class="original_language">
          {{movie.original_language ? '('+movie.original_language.toUpperCase()+')' : ''}}
        </span>
      </h3>

      <p class="overview">
        {{movie.overview ? movie.overview : '(Hiányzó adat: leírás)'}}
      </p>

      <p class="genres">
        <span>
          Műfajok:
        </span>
        <span>
          {{ movie.genres ? listGenres(movie.genres) : '(Hiányzó adat: műfajok)'}}
        </span>
      </p>

      <p class="adult">
        <span>
          Besorolás:
        </span>
        <span>
          {{movie.adult===true ? 'Felnőtteknek' : 'Nem csak felnőtteknek'}}
        </span>
      </p>

      <p class="runtime">
        <span>
          Hossz:
        </span>
        <span>
          {{movie.runtime ? movie.runtime + ' perc' : '(Hiányzó adat: hossz)'}}
        </span>
      </p>

      <p class="status">
        <span>
          Státusz:
        </span>
        <span>
          {{movie.status ? movie.status : '(Hiányzó adat: státusz)' }}
        </span>
      </p>

      <p class="release_date">
        <span>
          Premier dátuma:
        </span>
        <span>
          {{movie.release_date ? movie.release_date : '(Hiányzó adat: premier dátuma)'}}
        </span>
      </p>

      <p class="budget">
        <span>
          Elkészítési költség:
        </span>
        <span>
          {{movie.budget ? (movie.budget | currency) : '(Hiányzó adat: elkészítési költség)' }}
        </span>
      </p>

      <p class="vote">
        <span>
          Nézők szavazata alapján:
        </span>
        <span>
          {{movie.vote_average ? movie.vote_average + '/10' : '(Hiányzó adat: szavazat)' }}
        </span>
      </p>

      <p class="popularity">
        <span>
          Relatív népszerűségi index:
        </span>
        <span>
          {{movie.popularity ? movie.popularity : '(Hiányzó adat: népszerűségi index)' }}
        </span>
      </p>

      <p class="homepage">
        <span>
          {{ movie.homepage ? 'Saját hivatalos weboldala:':'Nincs saját hivatalos weboldala'}}
        </span>
        <span *ngIf="movie.homepage">
          <a [href]="movie.homepage" target="_blank">
            {{ movie.homepage}}
          </a>
        </span>
      </p>

      <p class="imdb">
        <span>
          {{movie.imdb_id ? 'Imdb hivatalos weboldala:':'Nincs IMDB link'}}
        </span>
        <span *ngIf="movie.imdb_id">
          <a [href]="'https://www.imdb.com/title/'+movie.imdb_id" target="_blank">
            {{'https://www.imdb.com/title/'+movie.imdb_id}}
          </a>
        </span>
      </p>

      <p class="youtube">
        <span>
          Youtube keresés:
        </span>
        <span>
          <a [href]="'https://www.youtube.com/results?search_query='+movie.title" target="_blank">
            magyar cím alapján
          </a>
          |
          <a [href]="'https://www.youtube.com/results?search_query='+movie.original_title" target="_blank">
            eredeti cím alapján
          </a>
        </span>
      </p>

      <p class="online-filmek">
        <span>
          Online Film keresés:
        </span>
        <span>
          <a [href]="'https://online-filmek.me/kereses.php?kereses='+movie.title" target="_blank">
            magyar cím alapján
          </a>
          |
          <a [href]="'https://online-filmek.me/kereses.php?kereses='+movie.original_title" target="_blank">
            eredeti cím alapján
          </a>
        </span>
      </p>

      <p class="google">
        <span>
          Google keresés:
        </span>
        <span>
          <a [href]="'https://www.google.hu/search?q='+movie.title" target="_blank">
            magyar cím alapján
          </a>
          |
          <a [href]="'https://www.google.hu/search?q='+movie.original_title" target="_blank">
            eredeti cím alapján
          </a>
        </span>
      </p>

    </mat-card-content>
  </mat-card>
</section>

<mf-movie-images [id]="movie.id"></mf-movie-images>
<mf-movie-videos [id]="movie.id"></mf-movie-videos>
<mf-recommended-movies [id]="movie.id"></mf-recommended-movies>
<mf-similar-movies [id]="movie.id"></mf-similar-movies>
