<div class="youtubeVideos text-center">

  <h2 *ngIf="this.videos.results.length>0">
    {{ getGlobal() ? 'Recommended videos:' : 'Kapcsolódó Videók:' }}
  </h2>

  <mat-chip-list>
    <mat-chip
      color="primary"
      [selected]="getSelectedVideo(i)"
      (click)="setVideoUrl(video.key)"
      *ngFor="let video of videos.results; let i=index">
      {{video.name ? video.name : (i+1) + '. videó' }}
      {{video.iso_639_1 ? '('+video.iso_639_1.toUpperCase()+')' : ''}}
    </mat-chip>
  </mat-chip-list>

  <br>

  <iframe *ngIf="videoSrc"
          class="video"
          [src]="videoSrc"
          border="0"
          allowfullscreen></iframe>

</div>
