.result-links {
  padding: .3em;
  border: 1px solid #E8EAF6;
  transition: .3s ease-in-out background-color;
  color: inherit;
  text-decoration: none;
  margin: 2px;

  &:hover {
    background-color: #E8EAF6;
  }
}

.active {
  background-color: #E8EAF6;
}
@media (max-width:960px) {
  p {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    span {
      margin: .25em;
      line-height: 2.5em;
    }
  }
}
