<h2
  *ngIf="movieCredits.cast.length || movieCredits.crew.length"
  class="text-center mat-h2"
>
  <br />
  <mat-divider></mat-divider>
  <br />
  {{ moviesText }}
</h2>

<div *ngIf="movieCredits.cast.length">
  <h3 class="text-center mat-h3">
    {{ castText }}
  </h3>

  <mat-form-field class="full-width">
    <input
      matInput
      type="search"
      [placeholder]="placeholder"
      name="searchCast"
      id="searchCast"
      [(ngModel)]="searchCast"
    />
  </mat-form-field>

  <mat-radio-group (change)="onChange($event)" class="content-center">
    <p class="mat-body-1">
      {{ orderText }}
    </p>
    <mat-radio-button value="vote_average" color="primary" checked>
      {{ byVotesText }}
    </mat-radio-button>
    <mat-radio-button value="popularity" color="primary"
      >{{ byPopularityText }}
    </mat-radio-button>
    <mat-radio-button value="title" color="primary">
      {{ byTitleText }}
    </mat-radio-button>
    <mat-radio-button value="release_date" color="primary"
      >{{ byReleaseDateText }}
    </mat-radio-button>
  </mat-radio-group>

  <div class="container" *ngIf="movieCredits.cast && movieCredits.cast.length">
    <a
      *ngFor="let movie of movieCredits.cast | search: searchCast"
      [routerLink]="['/details', movie.id]"
    >
      <div
        class="cast"
        title="{{
          movie.title +
            ' (' +
            movie.vote_average +
            ' / 10)\n\n' +
            movie.genre_ids &&
            listGenres(movie.genre_ids) + '\n\n' + movie.overview
        }}"
      >
        <span class="pull-left">
          {{ movie.character ? movie.character : '' }}
          {{ movie.release_date ? '(' + movie.release_date + ')' : '' }}
        </span>
        <strong>
          {{ movie.title ? movie.title : 'N/A' }}
        </strong>
        {{
          movie.original_title && movie.original_title !== movie.title
            ? '(' + movie.original_title + ')'
            : ''
        }}
        {{ movie.vote_average ? '[' + movie.vote_average + '/10 ]' : '' }}
      </div>
    </a>
  </div>
</div>

<div *ngIf="movieCredits.crew && movieCredits.crew.length">
  <h3 class="text-center mat-h3">
    {{ crewText }}
  </h3>

  <mat-form-field class="full-width">
    <input
      matInput
      type="search"
      [placeholder]="placeholder"
      name="searchCrew"
      id="searchCrew"
      [(ngModel)]="searchCrew"
    />
  </mat-form-field>

  <div class="container">
    <a
      *ngFor="let movie of movieCredits.crew | search: searchCrew"
      [routerLink]="['/details', movie.id]"
    >
      <div
        class="crew"
        title="{{
          movie.title +
            ' (' +
            movie.vote_average +
            ' / 10)\n\n' +
            movie.genre_ids &&
            listGenres(movie.genre_ids) + '\n\n' + movie.overview
        }}"
      >
        <span class="pull-left">
          {{ movie.job ? movie.job : language.na }}
          {{ movie.release_date ? '(' + movie.release_date + ')' : '' }}
        </span>
        {{ movie.title ? movie.title : language.na }}
        {{
          movie.original_title && movie.original_title !== movie.title
            ? '(' + movie.original_title + ')'
            : ''
        }}
        {{ movie.vote_average ? '[' + movie.vote_average + '/10 ]' : '' }}
      </div>
    </a>
  </div>
</div>
