mat-card {
  min-height: 370px;
  margin: 1em 0.5em;
  text-align: center;
  width: 220px;

  mat-card-content img {
    width: 185px;
  }

  mat-card-subtitle,
  mat-card-title {
    min-height: 2em;
    width: 210px;
  }

  mat-card-title {
    font-weight: bold;
    font-size: 105%;
  }

}
@media (max-width:960px) {
  mat-card {
    margin: 1em 0;
    padding: 10px 0;
    min-height: 400px;
  }
}
@media (max-width:450px) {
  mat-card {
    width: calc( 100vw - 3em );

    mat-card-content img {
      max-width: 185px;
      width: 100%;
      width: auto;
    }

    mat-card-subtitle,
    mat-card-title {
      width: calc(100vw - 3.5em);
    }
  }

}
