mat-card {
  min-height: 390px;
  margin: 1em .5em;
  text-align: center;
  width: 220px;

  mat-card-content img {
    width: 100%;
    max-width: 185px;
    height: auto;
    max-height: 278px;
    vertical-align: bottom;
  }

  mat-card-subtitle,
  mat-card-title {
    min-height: 2em;
    width: 210px;
    white-space: normal;
  }

  mat-card-title {
    font-weight: bold;
    font-size: 105%;
  }

}

@media (max-width: 960px) {
  mat-card {
    margin: 1em .5em;
    padding: 10px 0;
    min-height: 400px;
  }
}

.img-container {
  position: relative;

  .dots-loader {
    position: absolute;
    top: 90px;
    left: 75px;
  }

  img {
    z-index: 1000;
    position: relative;
  }
}

@media (max-width: 599px) {
  mat-card {
    margin: 1em .5em;
    width: 80vw;

    mat-card-header {
      display: block;
    }

    mat-card-content img {
      max-width: none;
      max-height: none;
      width: calc( 100% - 20px );
      height: auto;
    }
    mat-card-subtitle,
    mat-card-title {
      width: 100%;
      min-width: 200px;
    }
  }

}
