@import './../../../colors.scss';

.container {
  max-height: 15em;
  overflow-y: auto;
  margin-bottom: 2em;

  .cast,
  .crew {
    text-align: right;
    padding: .3em 2em;
    border: 1px solid $main-color;
    width: calc( 100% - 4em - 20px );
    margin: 0 auto;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $main-color;
    }
  }
}

.pull-left {
  float: left;
}
