<section class="full" [style.backgroundImage]="backgroundImage()">
  <mat-card class="poster">
    <mat-card-content (dblclick)="open()">
      <div class="img-container">
        <mf-loading class="centerHorizontalVertical"></mf-loading>
        <img
          *ngIf="tvShow.poster_path"
          [lazyLoad]="'https://image.tmdb.org/t/p/w500' + tvShow.poster_path"
          [defaultImage]="'assets/image/1x1.png'"
          [errorImage]="'assets/image/error-image-generic.png'"
          offset="100"
          [alt]="tvShow.name"
          [title]="tvShow.name"
        />
        <mat-progress-spinner
          class="circle"
          color="primary"
          mode="determinate"
          diameter="95"
          *ngIf="tvShow.vote_average && tvShow.vote_average !== 10"
          [value]="tvShow.vote_average * 10"
        >
        </mat-progress-spinner>
        <mat-chip
          color="primary"
          [selected]="true"
          disabled
          class="vote force-not-transparent"
          *ngIf="tvShow.vote_average && tvShow.vote_average !== 10"
        >
          {{ (tvShow.vote_average | number: '1.1-1') + '/10' }}
        </mat-chip>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="details" [ngClass]="{ 'with-poster': tvShow.poster_path }">
    <mat-card-content>
      <mf-loading
        class="centerHorizontalVertical"
        *ngIf="!tvShow.name"
      ></mf-loading>

      <h2 class="mat-h2 title" *ngIf="tvShow.name">
        {{ tvShow.name }}
      </h2>

      <h3
        class="mat-h3 original_title"
        *ngIf="tvShow.original_name && tvShow.name !== tvShow.original_name"
      >
        {{ tvShow.original_name }}
      </h3>

      <p class="mat-body-1 overview" *ngIf="tvShow.overview">
        {{ tvShow.overview }}
      </p>

      <p class="mat-body-1 text-right">
        <mf-tv-keywords [id]="tvShow.id"></mf-tv-keywords>
      </p>

      <p class="mat-body-1 genres" *ngIf="tvShow.genres">
        <span> {{ genres }}: </span>
        <span>
          {{ listGenres(tvShow.genres) }}
        </span>
      </p>

      <p class="original-language" *ngIf="tvShow.original_language">
        <span> {{ originalLanguage }}: </span>
        <span>
          {{ tvShow.original_language.toLocaleUpperCase() }}
        </span>
      </p>

      <p
        class="mat-body-1 runtime"
        *ngIf="tvShow.episode_run_time && tvShow.episode_run_time[0]"
      >
        <span> {{ runtime }}: </span>
        <span>
          {{ tvShow.episode_run_time[0].toString() + ' ' + minutes }}
        </span>
      </p>

      <p class="mat-body-1 status" *ngIf="tvShow.status">
        <span> {{ status }}: </span>
        <span>
          {{ tvShow.status }}
        </span>
      </p>

      <p
        class="mat-body-1 release_date"
        *ngIf="tvShow.number_of_seasons && tvShow.number_of_episodes"
      >
        <span>
          {{ seasonsEpisodes }}
        </span>
        <span>
          {{ tvShow.number_of_seasons + '/' + tvShow.number_of_episodes }}
        </span>
      </p>

      <p class="mat-body-1 release_date" *ngIf="tvShow.first_air_date">
        <span>
          {{ releaseDate }}
        </span>
        <span>
          {{ tvShow.first_air_date }}
        </span>
      </p>

      <p class="mat-body-1 release_date" *ngIf="tvShow.last_air_date">
        <span>
          {{ lastAirDate }}
        </span>
        <span>
          {{ tvShow.last_air_date }}
        </span>
      </p>

      <p
        class="mat-body-1 release_date"
        *ngIf="
          tvShow.next_episode_to_air && tvShow.next_episode_to_air.air_date
        "
      >
        <span>
          {{ nextAirDate }}
        </span>
        <span>
          {{ tvShow.next_episode_to_air.air_date }}
        </span>
      </p>

      <p
        class="mat-body-1 budget"
        *ngIf="tvShow.created_by && tvShow.created_by.length"
      >
        <span>
          {{ createdByText }}
        </span>
        <span>
          {{ createdBy }}
        </span>
      </p>

      <p class="mat-body-1 popularity" *ngIf="tvShow.popularity">
        <span>
          {{ popularity }}
        </span>
        <span> {{ tvShow.popularity / 10 | number: '1.1-1' }}% </span>
      </p>

      <br />

      <p class="mat-body-1 query" *ngIf="tvShow.homepage">
        <span> {{ homepage }}: </span>
        <span>
          <a [href]="tvShow.homepage" target="_blank">
            {{ tvShow.homepage }}
          </a>
        </span>
      </p>

      <p class="mat-body-1 imdb" *ngIf="tvShow.imdb_id">
        <span> Imdb {{ homepage }}: </span>
        <span *ngIf="tvShow.imdb_id">
          <a
            [href]="'https://www.imdb.com/title/' + tvShow.imdb_id"
            target="_blank"
          >
            {{ 'https://www.imdb.com/title/' + tvShow.imdb_id }}
          </a>
        </span>
      </p>

      <div *ngFor="let query of queries">
        <p class="mat-body-1 query" *ngIf="tvShow.name || tvShow.original_name">
          <span>{{ query.name }} {{ search }}: </span>
          <span>
            <a
              *ngIf="tvShow.name"
              [href]="query.url + tvShow.name"
              target="_blank"
            >
              {{ byTitle }}
            </a>
            <a *ngIf="tvShow.name !== tvShow.original_name">|</a>
            <a
              *ngIf="tvShow.name !== tvShow.original_name"
              [href]="query.url + tvShow.original_name"
              target="_blank"
            >
              {{ byOriginalTitle }}
            </a>
          </span>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</section>
