<a href="" name="tvShow" id="tvShow"></a>
<h2  class="text-center">
   {{getGlobal() ? 'Top rated tv shows' : ' Legjobb Sorozatok:'}}
</h2>

<h3 class="text-center huge-margin" *ngIf="isLoading">
  {{getGlobal() ? 'Loading...':'Betöltés...'}}
</h3>

<div class="item-container" #container *ngIf="!(isLoading)">
  <a *ngFor="let tvShow of topRatedTvShows.results" [routerLink]="['/tv-details', tvShow.id]">
    <mf-list-item [tvShow]="tvShow" movie="" person=""></mf-list-item>
  </a>
</div>

<h2 class="text-center" *ngIf="topRatedTvShows.results.length < 1">
  {{getGlobal() ? 'No results':'Nincs találat'}}
</h2>

<mf-pagination [results]="topRatedTvShows" [url]="'/top-rated/'" [type]="'tvShow'"></mf-pagination>
