<p class="mat-body-1">
  <b>{{collection.name}}</b>: {{collection.overview}}
</p>
<div class="maximized-height">
  <mat-chip-list *ngIf="collection.parts[0].id">
    <mat-chip
      color="primary" [selected]="true"
      *ngFor="let part of collection.parts" [routerLink]="['/details', part.id]">
      <p class="mat-body-1 text-center full-wide-width">
        <b>{{part.title ? part.title.trim() : null}}</b>
        {{part.original_title !== part.title ? ' (' + part.original_title + ')' : null }}
        {{part.vote_average ? '[' + part.vote_average + '/10]' : null }}
        {{part.release_date ? '(' + part.release_date + ')': null }}
      </p>
    </mat-chip>
  </mat-chip-list>
</div>
