.mat-chip-list {
  justify-content: center;

  .mat-chip {
    cursor: pointer;
    margin: 0.5em !important;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    height: auto;

    p {
      padding: 0.25em;
      margin: 0.25em;
    }
  }
}
