<mat-card
  class="mat-elevation-z4"
  *ngIf="movie || tvShow || person"
  [title]="title"
>
  <mat-card-header>
    <mat-card-title>
      {{
        movie && movie.title
          ? (movie.title.trim() | truncate: titleLengthLimit:false)
          : ''
      }}
      {{
        tvShow && tvShow.name
          ? (tvShow.name.trim() | truncate: titleLengthLimit:false)
          : ''
      }}
      {{
        person && person.name
          ? (person.name.trim() | truncate: titleLengthLimit:false)
          : ''
      }}
    </mat-card-title>
    <mat-card-subtitle>
      {{
        movie.genre_ids && api.getGenreList(movie.genre_ids)
          ? (api.getGenreList(movie.genre_ids).trim()
            | truncate: genreLengthLimit:false)
          : ''
      }}
      {{
        tvShow.genre_ids && api.getTvGenreList(tvShow.genre_ids)
          ? (api.getTvGenreList(tvShow.genre_ids).trim()
            | truncate: genreLengthLimit:false)
          : ''
      }}
      {{
        person.known_for && person.known_for[0] && person.known_for[0].title
          ? (person.known_for[0].title.trim()
            | truncate: genreLengthLimit:false)
          : ''
      }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="img-container">
      <mf-loading class="centerHorizontalVertical"></mf-loading>
      <img
        *ngIf="
          !movie.poster_path && !tvShow.poster_path && !person.profile_path
        "
        src="assets/image/no-pic.jpg"
        alt="{{ this.language.na }}"
      />
      <img
        *ngIf="movie.poster_path || tvShow.poster_path || person.profile_path"
        [lazyLoad]="
          'https://image.tmdb.org/t/p/w300' +
          (movie.poster_path || tvShow.poster_path || person.profile_path)
        "
        offset="100"
        alt="{{
          (movie && movie.title) ||
            (tvShow && tvShow.name) ||
            (person && person.name)
        }}"
      />
    </div>
  </mat-card-content>
</mat-card>
