/*
Light Theme

$main-color: #C5CAE9; //Indigo 100
$main-bg-color: #fff;
$alternative-font-color: #000;
$fallback-bg-color: #fcfcfc;
$main-font-color: #000;
$details-bg-color: rgba(232, 234, 246, 0.9);
*/

/*
Dark Theme
*/

@import '~@angular/material/theming';
@include mat-core();

$main-color: #424242;
$main-bg-color: #1f1b24;
$fallback-bg-color: #999;
$main-font-color: #fff;
$alternative-font-color: #000;
$details-bg-color: #424242bb;

$my-app-primary: mat-palette($mat-indigo);
$dark-primary: mat-palette($mat-indigo);
$dark-accent: mat-palette($mat-indigo);
$dark-warn: mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
@include angular-material-theme($dark-theme);
