.video {
  border: 0;
  width: 60vw;
  height: 34vw;

  @media (max-width: 960px) {
    width: 95vw;
    height: 54vw;
  }
}

.mat-chip-list {
  justify-content: center;

  .mat-chip {
    cursor: pointer;
    margin: 0.5em !important;
    flex-grow: 1;
  }
}
