<mat-divider></mat-divider>

<div *ngIf="tvCredits.crew.length">
  <h3 class="text-center">Sorozat rendezések, forgatókönyvek, satöbbi</h3>
  <div class="container">
    <a *ngFor="let tv of tvCredits.crew" [routerLink]="['/tv-details', tv.id]" >
    <div class="crew">
      <span class="pull-left">
        {{tv.job ? tv.job : '(Hiányzó adat: Munkakör)'}}
        {{tv.first_air_date  ? '(' + tv.first_air_date + ')' : ''}}
      </span>
      {{tv.name ? tv.name : 'Hiányzó adat: (Sorozat Cím)'}}
      {{(tv.original_name && (tv.original_name !== tv.name))? '(' + tv.original_name + ')' : ''}}
      {{tv.vote_average   ? '[' + tv.vote_average + '/10 ]' : ''}}
    </div>
  </a>
  </div>
</div>

<mat-divider></mat-divider>

<div *ngIf="tvCredits.cast.length">
  <h3 class="text-center">TalkShow szereplések, Díjátadók, satöbbi</h3>
  <div class="container">
    <a *ngFor="let tv of tvCredits.cast" [routerLink]="['/tv-details', tv.id]">
      <div class="cast">
        <span class="pull-left">
          {{tv.character ? tv.character : ''}}
          {{tv.first_air_date  ? tv.first_air_date : ''}}
        </span>
        {{tv.name ? tv.name : 'Hiányzó adat: (Cím)'}}
        {{(tv.original_name && (tv.original_name !== tv.name))? '(' + tv.original_name + ')' : ''}}
        {{tv.vote_average   ? '[' + tv.vote_average + '/10 ]' : ''}}
      </div>
    </a>
  </div>
</div>
