.item-container {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    color: inherit;
    text-decoration: none;

    mat-card {
      width: 10em;
      margin: 1em;
      text-align: center;
    }
  }
}
