.item-container {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    color: inherit;
    text-decoration: none;

    button {
      font-weight: bold;
      width: 14em;
      height: 4em;
      margin: .75em;
      text-align: center;
      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: #E8EAF6;
      }
    }
  }
}

h2 {
  padding: 1em;
}
