@import "./../../../colors.scss";

.item-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    color: inherit;
    text-decoration: none;

    button {
      font-weight: bold;
      width: 14em;
      height: 4em;
      margin: .75em;
      text-align: center;
      transition: all .3s ease-in-out;
      background-image: url(assets/image/movie-icon.png);
      background-position: 2% 90%;
      background-size:10%;
      background-repeat: no-repeat;


      &:hover {
        background-color: $main-color;
        background-size:15%;
      }
    }
  }
}

h2 {
  padding: 1em;
}
@media (max-width:960px) {
  .item-container {
    justify-content: center;

    a {
      button {
        width: 7em;
        margin: .25em;
        white-space: normal;

      }

      .mat-raised-button {
        padding: 0;
        line-height: 1em;
      }
    }

  }

}
