<h2 class="text-center mat-h2">
  {{getGlobal() ? 'Now Playing:':'A mostanában mozikban lévő filmek:'}}
</h2>

<mf-loading *ngIf="isLoading"></mf-loading>

<div class="item-container" #container *ngIf="!(isLoading)">
  <a *ngFor="let movie of nowPlayingMovies.results" [routerLink]="['/details', movie.id]">
    <mf-list-item [movie]="movie" person="" tvShow=""></mf-list-item>
  </a>
</div>

<h2 class="text-center mat-h2" *ngIf="nowPlayingMovies.results.length < 1">
  {{getGlobal() ? 'No results':'Nincs találat'}}
</h2>

<mf-pagination [results]="nowPlayingMovies" [url]="'/now-playing/'"></mf-pagination>
