<a href="" name="movie" id="movie"></a>

<h2  class="text-center">
  {{getGlobal() ? 'Top rated movies' : 'Legjobb Filmek:'}}
</h2>

<h3 class="text-center huge-margin" *ngIf="isLoading">
  {{getGlobal() ? 'Loading...':'Betöltés...'}}
</h3>

<div class="item-container" #container *ngIf="!(isLoading)">
  <a *ngFor="let movie of topRatedMovies.results" [routerLink]="['/details', movie.id]">
    <mf-list-item [movie]="movie" tvShow="" person=""></mf-list-item>
  </a>
</div>

<h2 class="text-center" *ngIf="topRatedMovies.results.length < 1">
  {{getGlobal() ? 'No results':'Nincs találat'}}
</h2>

<mf-pagination [results]="topRatedMovies" [url]="'/top-rated/'" [type]="'movie'"></mf-pagination>
