<h2
  *ngIf="tvCredits && (tvCredits.cast.length || tvCredits.crew.length)"
  class="text-center mat-h2"
>
  <br />
  <mat-divider></mat-divider>
  <br />
  {{ tvShowsText }}
</h2>

<div *ngIf="tvCredits && tvCredits.crew && tvCredits.crew.length">
  <h3 class="text-center mat-h3">
    {{ crewText }}
  </h3>

  <mat-form-field class="full-width">
    <input
      matInput
      type="search"
      [placeholder]="placeholder"
      name="searchCrew"
      id="searchCrew"
      [(ngModel)]="searchCrew"
    />
  </mat-form-field>

  <div class="container crew" *ngIf="tvCredits && tvCredits.crew">
    <a
      *ngFor="let tv of tvCredits.crew | search: searchCrew"
      [routerLink]="['/tv-details', tv.id]"
    >
      <div
        class="crew"
        title="{{
          tv.name +
            ' (' +
            tv.vote_average +
            ' / 10)\n\n' +
            listGenres(tv.genre_ids) +
            '\n\n' +
            tv.overview
        }}"
      >
        <span class="pull-left">
          {{ tv.job ? tv.job : language.na }}
          {{ tv.first_air_date ? '(' + tv.first_air_date + ')' : '' }}
        </span>
        {{ tv.name ? tv.name : language.na }}
        {{
          tv.original_name && tv.original_name !== tv.name
            ? '(' + tv.original_name + ')'
            : ''
        }}
        {{ tv.vote_average ? '[' + tv.vote_average + '/10 ]' : '' }}
      </div>
    </a>
  </div>
</div>

<div *ngIf="tvCredits && tvCredits.cast && tvCredits.cast.length">
  <h3 class="text-center mat-h3">
    {{ castText }}
  </h3>

  <mat-form-field class="full-width">
    <input
      matInput
      type="search"
      [placeholder]="placeholder"
      name="searchCast"
      id="searchCast"
      [(ngModel)]="searchCast"
    />
  </mat-form-field>

  <div class="container cast">
    <a
      *ngFor="let tv of tvCredits.cast | search: searchCast"
      [routerLink]="['/tv-details', tv.id]"
    >
      <div
        class="cast"
        title="{{
          tv.name +
            ' (' +
            tv.vote_average +
            ' / 10)\n\n' +
            listGenres(tv.genre_ids) +
            '\n\n' +
            tv.overview
        }}"
      >
        <span class="pull-left">
          {{ tv.character ? tv.character : '' }}
          {{ tv.first_air_date ? '(' + tv.first_air_date + ')' : '' }}
        </span>
        {{ tv.name ? tv.name : language.na }}
        {{
          tv.original_name && tv.original_name !== tv.name
            ? ' (' + tv.original_name + ')'
            : ''
        }}
        {{ tv.vote_average ? '[' + tv.vote_average + '/10 ]' : '' }}
      </div>
    </a>
  </div>
</div>
